{% extends "loginTemplate.html" %}
{% block titutlo %} Faça seu login {% endblock %}
{% block conteudoLogin %}

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Email" name="username" reqe>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" name="password" required>
    </div>
    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="keep-signed-in">
        <label class="custom-control-label" for="keep-signed-in">Keep Me Signed In</label>
    </div>
    <button type="submit" class="btn btn-primary btn-gradient">
        
        Sign In
    </button>
    <hr
    <p class="text-center">
        Não possui conta ? <a href="REGISTER/">CADASTRE-SE</a>
    </p>
</form>

{% endblock%}

<!--
<div class="container">
    <div class="login_form">
        <h2>Login</h2>
       
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
            <label for="email">Username:</label>
            <input type="text" class="form-control" id="email" placeholder="Digite seu E-mail" name="username">
            </div>
            <div class="form-group">
            <label for="pwd">Senha:</label>
            <input type="password" class="form-control" id="senha" placeholder="Digite sua senha" name="password" required>
            </div>
            <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Logar</button>
        </form>
        </div>
    
    </div>
    
</div>
</body>
</html>
-->
