{% extends "RegisterTemplate.html" %}

{% block title %} Cadastre-se {% endblock %}

{% block conteudoRegister %}

<form method="POST">
    {% csrf_token %}
       
    <div class="form-group">
        <label>Username</label>
        {{ form.username}}
        {{ form.username.errors}}
    </div>
    <div class="form-group">
        <label>Nome</label>
        {{ form.first_name}}
    </div>
    <div class="form-group">
        <label>Ultimo nome </label>
        {{ form.last_name}}
    </div>
    <div class="form-group">
        <label>Email</label>
        {{ form.email}}
        {{form.email.errors}}
    </div>
    <div class="form-group">
        <label>Senha</label>
        {{ form.password}}
    </div> 
          
    {% if messages %}
    <div class="alert alert-success">
            {% for msg in messages %}

            <strong>Sucesso!</strong> {{msg.message }}</a>.
            
            {% endfor %}
            
          </div>
           
    {% endif %}




        <div class="custom-control custom-checkbox mb-">
            <input type="checkbox" class="custom-control-input" id="newsletter-signup">
            <label class="custom-control-label" for="newsletter-signup">I want to receive weekly Newsletters</label>
        </div>
        <button type="submit" class="btn btn-primary btn-gradient btn-block">
            <i class="batch-icon batch-icon-quill"></i>
            Sign Up
        </button>
        <hr>
        <p class="text-center">
            Já possui Cadastro? Clique <a href="/LOGIN">Aqui</a>
        </p>
    </form>

{% endblock%}