{% extends "RegisterTemplate.html" %}

{% block title %} Cadastre-se {% endblock %}

{% block conteudoRegister %}

<form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Username </label>
            {{ form.username }}
            {{ form.username.errors}}
            
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"> Email </label>
            {{form.email }}
            {{form.email.errors}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Senha </label>
            {{form.password }}
        </div>
        
        <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="newsletter-signup">
            <label class="custom-control-label" for="newsletter-signup">I want to receive weekly Newsletters</label>
        </div>
        <button type="submit" class="btn btn-primary btn-gradient btn-block">
            <i class="batch-icon batch-icon-quill"></i>
            Sign Up
        </button>
        <hr>
        <p class="text-center">
            Já possui Cadastro? Clique <a href="/LOGIN">Aqui</a>
        </p>
    </form>

{% endblock%}