{% extends "RegisterTemplate.html" %}

{% block title %} Cadastre-se {% endblock %}

{% block conteudoRegister %}

<form method="POST" action="">
    {% csrf_token %}
       
        {{ form.as_p }}

       
        {% if messages %}
        <div class="{{ message.tags}}" role="alert">
            {{ message }}
          </div>
        {% endif%}
        
        <div class="custom-control custom-checkbox mb-">
            <input type="checkbox" class="custom-control-input" id="newsletter-signup">
            <label class="custom-control-label" for="newsletter-signup">I want to receive weekly Newsletters</label>
        </div>
        <button type="submit" class="btn btn-primary btn-gradient btn-block">
            <i class="batch-icon batch-icon-quill"></i>
            Sign Up
        </button>
        <hr>
        <p class="text-center">
            Já possui Cadastro? Clique <a href="/LOGIN">Aqui</a>
        </p>
    </form>

{% endblock%}