{% extends "layout.html" %}


{% block content %}
<div class="container">
        <div class="card">
         <div class="cardbody">
            <table class="table table-datatable table-responsive">
                    <thead>
                        
                        <th>CNPJ</th>
                        
                        <th>RAZAO SOCIAL</th>
                        
                        
                    </thead>
                    <tbody>
                        {% for emp in Empresas %}
                       <tr>           
                          
                            <td><a href="{% url 'home:emp_detail' pk=emp.id %}"><span class="badge badge-primary">{{ emp.cnpj }}</span></td>
                            
                            <td>{{ emp.nm }} </td>
                                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
              </div>
            </div>
        </div>
{% endblock %}