{% extends "layout.html" %}
{% block content %}

<p>View cnpj</p>

<form>
    <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder=" {{ object.cnpj }}" readonly>
        </div>
    </div>
    
    </div>
</form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">CNPJ</th>
                <th scope="col">NOME FANTASIA</th>
                <th scope="col">ENDERECO</th>
                <th scope="col">PORTE</th>
                <th scope="col">SITUACAO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.cnpj }}</td>
                <td>{{ object.nm }}</td>
                <td>{{ object.lg }}</td>
                <td>{{ object.porte }}</td>
                <td>{{ object.situacao }}</td>
            </tr>
        </tbody>
    </table>



{% endblock %}