{% extends "loginTemplate.html" %}
{% block titutlo %} Faça seu login {% endblock %}
{% block conteudoLogin %}

<form method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label>Usuario</label>
        {{ formLogin.username }}
        {{ formLogin.username.errors}}
    </div>

    <div class="form-group">
        <label>Senha</label>
        {{ formLogin.senha }}
        {{ formLogin.senha.errors}}
    </div>
    <button type="submit" class="btn btn-primary btn-gradient">
        
        Sign In
    </button>
    <hr>
    <p class="text-center">
        Não possui conta ainda ? <a href="/REGISTER">CADASTRE-SE</a>
    </p>
    

</form>

{% endblock%}
