{% extends "layout.html" %}

{% block content %}



<form action="VALIDAR_EMAIL" method="POST" enctype="multipart/form-data">
        {% csrf_token %}        
        <div class="form-group">
            <label for="exampleFormControlFile1">Importe sua Lista</label>
            <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1" >
            <span class="badge badge-danger">Somente arquivos CSV </span>
        </div>
        
        <button type="submit" class="btn btn-primary btn-gradient"> Carregar Dados </button>
    </form>

    {% for em in colunm %}
        
        <p> {{ em }}</p>

    {% endfor %}

{% endblock%}