{% extends "layout.html" %}

{% block content %}



<form action="VALIDAR_EMAIL" method="POST" enctype="multipart/form-data">
        {% csrf_token %}        
        <div class="form-group">
            <label for="exampleFormControlFile1">Importe sua Lista</label>
            <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1" >
            <span class="badge badge-danger">Somente arquivos CSV </span>
        </div>
        <button type="submit" class="btn btn-primary btn-gradient"> Carregar Dados </button>

        
    </form>

    {% if messages %}
    <div class="alert alert-danger">
            {% for msg in messages %}

            <strong>ATENÇÃO!</strong> {{msg.message }}</a>.
            
            {% endfor %}
            
          </div>
           
    {% endif %}
    <table class="table table-dark">
            <thead>
                <tr>
                    <th>EMAILS CARREGADOS</th>
                </tr>
            </thead>
            <tbody>
                {% for em in email %}
                <tr>
                        
                    <td>{{ em }}</td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>

{% endblock%}