
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="{% static 'img/favicon.png' %} ">

	<title>{% block title %}{% endblock%}</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

	<!-- CSS - REQUIRED - START -->
	<!-- Batch Icons -->
	<link rel="stylesheet" href="{% static 'fonts/batch-icons/css/batch-icons.css' %} ">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap/mdb.min.css' %}">
	<!-- Custom Scrollbar -->
	<link rel="stylesheet" href=" {% static 'plugins/custom-scrollbar/jquery.mCustomScrollbar.min.css' %}">
	<!-- Hamburger Menu -->
	<link rel="stylesheet" href="{% static 'css/hamburgers/hamburgers.css' %}">

	<!-- CSS - REQUIRED - END -->

	<!-- CSS - OPTIONAL - START -->
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">

	<!-- CSS - DEMO - START -->
	<link rel="stylesheet" href="{% static 'demo/css/ui-icons-batch-icons.css' %}">
	<!-- CSS - DEMO - END -->

	<!-- CSS - OPTIONAL - END -->

	<!-- QuillPro Styles -->
	<link rel="stylesheet" href="{%  static 'css/quillpro/quillpro.css' %} ">
</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="right-column sisu">
				<div class="row mx-0">
					<div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark">
						<a class="signin-logo d-sm-block d-md-none">
							<img src="{% static 'img/logo-white.png' %}" width="145" height="32.3" alt="QuillPro">
						</a>
						<h1 class="display-4">Crie uma conta hoje mesmo</h1>
						<p class="lead mb-5">
							Dataseek Processamento de dados
						</p>
					</div>
					<div class="col-md-5 order-md-1 signin-left-column bg-white px-5">
						<a class="signin-logo d-sm-none d-md-block" href="">
							<img src="{% static 'img/logo-dark.png' %}" width="145" height="32.3" alt="QuillPro">
						</a>
						{% block conteudoRegister %}

						{% endblock%}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SCRIPTS - REQUIRED START -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Bootstrap core JavaScript -->
	<!-- JQuery -->
	<script type="text/javascript" src="{% static 'js/jquery/jquery-3.1.1.min.js' %}"></script>
	<!-- Popper.js - Bootstrap tooltips -->
	<script type="text/javascript" src="{% static 'js/bootstrap/popper.min.js' %}"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src=" {% static 'js/bootstrap/bootstrap.min.js' %}"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="{% static 'js/bootstrap/mdb.min.js' %}"></script>
	<!-- Velocity -->
	<script type="text/javascript" src="{% static 'plugins/velocity/velocity.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/velocity/velocity.ui.min.js' %}"></script>
	<!-- Custom Scrollbar -->
	<script type="text/javascript" src="{% static 'plugins/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<!-- jQuery Visible -->
	<script type="text/javascript" src="{% static 'plugins/jquery_visible/jquery.visible.min.js' %}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript" src="{% static  'js/misc/ie10-viewport-bug-workaround.js' %}"></script>

	<!-- SCRIPTS - REQUIRED END -->

	<!-- SCRIPTS - OPTIONAL START -->
	<!-- Image Placeholder -->
	<script type="text/javascript" src="{% static 'js/misc/holder.min.js' %} "></script>
	<!-- SCRIPTS - OPTIONAL END -->

	<!-- QuillPro Scripts -->
	<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
